#container {
  height: 500px;
  width: 80%;
  border: 2px solid black;
  margin: 10px auto;
  background-color: azure;
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

#container div {
  height: 50px;
  width: 80px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

/* Flex Shorthand  */

/* 1.flex-grow | flex-shrink | flex-basis */
#green {
  flex: 2 2 100px;
}
/* 2.flex-grow | flex-basis */
#green {
  flex: 2 100px;
}
/* 3.flex-grow  */
#green {
  flex: 2;
}
/* 4.flex-basis */
#blue {
  flex: 100px;
}
