<% layout('layouts/boilerplate.ejs') %>
<body>
  <h2>All Listings</h2>
  <!-- <form action="/listings/new" method="get">
    <button>Create New</button>
  </form> -->
  <ul>
    <%for(Listing of allListings) { %>
    <li><a href="/listings/<%= Listing._id %>"><%= Listing.title %></a></li>
    <% }%>
  </ul>
</body>
